

      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid position-relative d-flex p-0">
 

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
        <!-- Navbar End -->
        <div class="container">
        
                <div class="col-12 mt-5">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h3 class="mb-4 text-dark">SALES</h3>
                            <div class="mb-3 d-flex">
                            <button class="btn btn-primary" onclick="ExportToExcel('xlsx')">Export to excel</button>
                            <button type="button" class="btn btn-primary ms-3 btn_print me-3" id="rep"
                    value="Download as Pdf">Download PDF</button>
                            <input class="ms-1" type="text" name="daterange" value="01/01/2022 - 12/01/2023" />  
                            </div>
                             
                            <div class="table-responsive">
                                  <div id="container_content">
                                <table class="table" id="salesTable"  name="salesTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">OrderedDate</th>
                                            <th scope="col">DeliveredDate</th>
                                            <th scope="col">Payment method</th>
                                            <th scope="col">Total Amount</th>
                                            <th scope="col">Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each deliveredOrders}}
                                        <tr style="color: black; font-weight:500">
                                            <th scope="row">{{inc @index}}</th>
                                            <td>{{this.date}}</td>
                                            <td>{{this.deliverydate}}</td>
                                            <td>{{this.PaymentMethod}}</td>
                                            <td>{{this.totalAmount}}</td>
                                            <td> <a  href="/admin/vieworders/{{this._id}}" style="width:6rem;"><i class="fa-solid fa-eye"></i></a></td>
                                        </tr>
                                       {{/each}}
                                    </tbody>
                                </table>
                            </div>
         <h5 style="color:gray">Grand Total: {{grandTotal}} </h5>
         </div>
                        </div>
                    </div>
        </div>


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

     

<!-- PDF AND EXCEL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
 <script>
    
 
    $(document).ready(function ($) {
        $(document).on('click', '.btn_print', function (event) {
            event.preventDefault();
            var element = document.getElementById('container_content');
            let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
            var opt = {
                margin: 0,
                filename: 'SalesReport' + randomNumber + '.pdf',
                html2canvas: { scale: 10 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();
        });
    });

    
    function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('salesTable');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
         XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

   
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
    start=start.format('YYYY-MM-DD')
    end=end.format('YYYY-MM-DD')
    console.log(start,end)
    location.assign(`/admin/sales-report?start=${start}&end=${end}`)
  });
});
 </script>

