


     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



 <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/admin" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>ADMIN</h3>
                </a>
            
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link {{dashboardClass}}"><i class="fa fa-home me-2"></i>Dashboard</a>
                    <a href="/admin/Users" class="nav-item nav-link {{usersClass}}"><i class="fa fa-user me-2"></i>Users</a>
                    <a href="/admin/product" class="nav-item nav-link {{productClass}}"><i class="fas fa-file-signature me-2"></i>Products</a>
                    <a href="/admin/category" class="nav-item nav-link {{categoryClass}}"><i class="fa fa-th-large me-2"></i>Category</a>
                    <a href="/admin/brand" class="nav-item nav-link {{brandClass}}"><i class="fa fa-building me-2"></i>Brand</a>
                    <a href="/admin/orders" class="nav-item nav-link {{ordersClass}}"><i class="fa fa-file me-2"></i>Orders</a>
                    <a href="/admin/offers" class="nav-item nav-link {{offersClass}}"><i class="fas fa-percentage me-2"></i>Offers</a>
                    <a href="/admin/coupon" class="nav-item nav-link {{couponsClass}}"><i class="fas fa-tags me-2"></i>Coupons</a>
                    <a href="/admin/report" class="nav-item nav-link {{salesClass}}"><i class="fas fa-file-signature me-2"></i>Sales Report</a>
                </div>
                <a href="/admin/logout"><button class="ms-3 mt-3 btn btn-danger">logout</button></a>
            </nav>
        </div>
        <!-- Sidebar End -->

