


       {{>userSidebar}}

 <div class="container">

       {{#each listedProducts}}
            <div class="product-layout product-grid col-md-4 col-xs-6 " style="width:28rem;height:auto" >  
              <div class="item">
                <div class="product-thumb clearfix mb_30">
                  <div class="image product-imageblock"> <a href="/productdetails/{{this._id}}"> <img data-name="product_image" src={{this.images.[0]}} alt="iPod Classic" title="iPod Classic" class="img-responsive" style="height: 25rem; !important "  /> <img src={{this.images.[1]}} alt="iPod Classic" title="iPod Classic" class="img-responsive" style="height:25rem;!important" /> </a>
                    <div class="button-group text-center">
								
										<a class=" btn add-to-cart addToCart" data-product={{this._id}} ></a>
								
                     <a class="btn quickview " href="/productdetails/{{this._id}}" ></a>

                    </div>

                  </div>
                  <div class="caption product-detail text-center">
                    <h3 style="font-weight:#Bestsellers;" data-name="product_name" class="product-name mt_20">{{this.name}}</h3>
                          {{#eq this.offerPrice this.price}}
                    <span class="price mt_3"><span class="amount"><span class="currencySymbol"> Price ₹ :</span>  {{this.price}}</span>
                      <h6 style="font-weight:#Bestsellers;" data-name="product_name" class="product-name mt_20" ><span class="currencySymbol"> </span> <strike></strike></h6> 

                          {{else}}
                    <span class="price mt_3"><span class="amount"><span class="currencySymbol">  Price ₹ :</span>  {{this.offerPrice}}</span><br>

                    <h6 style="font-weight:#Bestsellers;" data-name="product_name" class="product-name mt_20" ><span class="currencySymbol"> ₹</span> <strike>{{this.price}}</strike>({{this.currentOffer}}% off) </h6> 
                    </span>
                          {{/eq}}
                  </div>
                </div>
              </div>
            </div>  
        {{/each}}
          </div>
          <div class="pagination-nav text-center mt_50">
            <ul>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
      </div>


 </div> 

<script>
    
     const addToCart =async (productId)=>{
     
   try{
     console.log(productId)
      const res= await axios.post(`/addtocart/${productId}`) 
      console.log(res)
         if(res.data.message==="failed"){
               Toastify({
                text: " Please LogIn",
                duration: 3000,
                gravity: "bottom",
                position: "center",
                style: {
                    background: '#F0FFFF',
                    color:"#000000 "
                },
            }).showToast(); 

            setTimeout((req,res)=>{
              location.assign('/login')
            },2000)
     }else if(res.data.message==="success"){
      console.log("success")
       Toastify({
                text: "Item Added To Cart",
                duration: 3000,
                gravity: "bottom",
                position: "center",
                style: {
                    background: '#FFFFFF',
                    color:'#000000'
                   
                },
            }).showToast(); 
      
     }else{
       location.assign('/cart')
     }
   }catch(err){
    console.log(err)
   }
     } 
     
	document.querySelectorAll('.addToCart').forEach(item => {
		item.addEventListener('click', function (e) {
			e.preventDefault();
      console.log( this.dataset.product)
			addToCart(this.dataset.product);
		});
	})
      
</script>

