


<style>
  #totalHeader {
        font-size: 22px;
    line-height: 26px;
    color: white;
    font-weight: 500;
  }
   
</style>



  
  
  <div  class="container">

  
    <div id="cartTable"  class="col-sm-8 col-lg-9 mtb_20">
      <form enctype="multipart/form-data" method="get" action="">
        <div class="table-responsive">
          <table  style="margin-left: 5rem;" class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">Image</td>
                <td class="text-left">Product Name</td>
                <td class="text-left">Brand</td>
                <td class="text-left">Quantity</td>
                <td class="text-right"> Price</td>

                <td></td>

              </tr>
            </thead>
            {{#each cartItemsWithSubTotal}}
            <tbody>
              <tr>
               
                <td class="text-center"><img src={{this.product.images.[0]}} style="width: 10rem; height: 10rem;">  
                </td>
                <td class="text-left"><a href="product.html">{{this.product.name}}</a></td>
                <td class="text-left">{{this.product.brand}}</td>
                  
                <td class="text-center"> 
                <a class="btn" onclick=changeQuantity("{{this._id}}","{{this.product._id}}",-1,"{{this.subTotal}}",) > -</a>
                <span id='{{this.product._id}}' >{{this.quantity}}</span>
                <a class="btn" onclick=changeQuantity("{{this._id}}","{{this.product._id}}",1,"{{this.subTotal}}",) >+</a>
                </td>
                <td class="text-right" > <span id="{{this.subTotal}}" > {{this.subTotal}} </span> </td>
               
         
                <td class="text-center"><button id="remove" onclick=removeItem("{{this._id}}","{{this.product._id}}") class="btn remove"  >Remove</button></td>
                {{/each}}             
               </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="row">
      </div>
    
      <div id="Total" style="margin-left:85rem;" >
      <h3 id="totalHeader" >Total Price :  <span id="totalAmount" > {{totalAmount}}</span> </h3>
      </div>
      <a  class="btn " href="/checkout" style="margin-bottom: 2rem; margin-left:93rem;margin-top:3rem;" >Confirm order </a>
  
  </div>  

    </div>
  </div>
</div>


<script>  

    
     const changeQuantity =async (cartId,productId,count,productSubtotal)=>{
     const quantity = document.getElementById(productId).innerHTML
     const subTotal = document.getElementById(productSubtotal).innerHTML
     console.log(subTotal)
        const res = await axios({
                                 method: 'POST', url: '/changeProductQuantity', data: {cartId,productId,count,quantity,subTotal}
                              })
         if(res.data.message=='success'){
     document.getElementById('totalAmount').innerHTML = res.data.totalAmount
     document.getElementById(productId).innerHTML = res.data.qty
     document.getElementById(productSubtotal).innerHTML = res.data.subTotal
         }else if(res.data.message=='deleted'){
           Toastify({
                text: "Item Deleting From Cart",
                duration: 3000,
                gravity: "bottom",
                position: "center",  
                style: {
                    background: 'white',
                    color:"black"
                   
                },
            }).showToast();

  setTimeout(()=>{location.assign("/cart")},1500)            
             
     
         }
     }


   const removeItem = async(cartId,productId)=>{
        const res = await axios({
                                 method: 'POST', url: '/removeItem', data: {cartId,productId}
                              })
         if(res.data.message=='success'){
             location.assign("/cart")
         }
     }

</script>