<style>
  #modalHeader {
    color: black;
  }

  #modalHeader2 {
    color: black;
    font-weight: 600;
    font-family: fangsong;
  }




  #checkoutDiv {
    position: absolute;
    left: 62rem;
    top: 3rem;
    height: 36rem;
  }

  #ctr {
    position: relative;

  }
</style>



<div id="ctr" class="container">
  <div class="row ">

    <div class="paymentFormDiv">


      <form method="post" action="/checkoutsubmit">

        <div class="modal-dialog" style="margin-left:0rem;" role="document">
          <div id="checkoutModal" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalHeader">
                <h1 id="modalHeader2">Address</h1>
                <div class="form-check">

              </h5>
            </div>
            <div class="modal-body">
              <div class="card-body">
                {{#user}}
                <div class="col">
                  <labe class="form-label" for="form7Example1">Name</label>
                </div>
              </div>

              <!-- Text input -->
              <div class="form-outline mb-4">
                <input name="name" type="text" id="form7Example4" class="form-control" value="{{this.Address.name}}"
                  required />
                <label class="form-label" for="form7Example4">Address</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input name="address" type="text" id="form7Example5" class="form-control"
                  value="{{this.Address.address}}" required />
              </div>

              <!-- Number input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form7Example6">Phone</label>
                <input name="phone" type="number" id="form7Example6" class="form-control" value="{{this.Address.phone}}"
                  required />
              </div>


              <div class="form-outline mb-4">
                <label class="form-label" for="form7Example6">Pin Code</label>
                <input name="pin" type="number" id="form7Example6" class="form-control" value={{this.Address.pincode}}
                  required />
              </div>
              {{/user}}
              <input name="userId" value={{userId}} hidden>
              <input name="totalAmount" value={{totalAmount}} hidden>

            </div>

          </div>
        </div><br>
        <div id="paymentmethod">



          <input type="radio" name="Paymentmethod" value="COD">
          <label class="form-check-label" for="flexRadioDefault1">
            Cash On Delivery
          </label><br>

          <input type="radio" name="Paymentmethod" value="Paypal">
          <label class="form-check-label" for="flexRadioDefault1">
            Paypal
          </label><br>

          <input type="radio" name="Paymentmethod" value="Razorpay">
          <label class="form-check-label" for="flexRadioDefault1">
            Razorpay
          </label><br>


          <button class="btn" type="submit">Confirm Order</button>

        </div>

      </form>

    </div>

<form id="form">
    <div class="modal-dialog" style="margin-left:0rem;" role="document" id="checkoutDiv">
      <div id="checkoutModal" class="modal-content" style="height:35.5rem;">
        <div class="modal-header">
          <h5 class="modal-title" id="modalHeader">
            <h1 id="modalHeader2"> Checkout</h1>
            <div class="form-check">

          </h5>
        </div> <br><br>
        <h3 id="modalHeader2">Total Amount :<span id="totalAmount" > {{totalAmount}} </span> </h3><br>
        <h3 id="modalHeader2">Enter Coupon Code If You have:</h3><br>
        <input name="coupon" type="text" id="form7Example6" class="form-control" required /><br>
        <p id="errorId"></p><br>
        <button type="submit" >Apply Coupon</button>
      </div>

    </div>
    </form>

  </div>

</div>
</div>
</div>
</div>



<script>
    const form = document.getElementById("form")
     form.addEventListener('submit',async (e)=>{ 
     e.preventDefault()
     const data = new FormData(form)
     const formData = {}
     data.forEach((data,i)=>{
       formData[i] = data
     })
     const res = await axios.post("/addcoupon",formData)
     if(res.data.message=="success"){
           document.getElementById("totalAmount").textContent=res.data.total
           Toastify({
                text: "Coupon Is added",
                duration: 3000,
                gravity: "bottom",
                position: "center",  
                style: {
                    background: ' #e74c3c'    ,
                   
                },
            }).showToast();

     }else{
     document.getElementById("errorId").textContent=res.data.error
     }
     
  })
</script>