<div class="container">
  <div class="row ">

    <div id="column-left" class="col-sm-4 col-lg-3" style="height:0rem;"  >
      <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true"  role="button">
        <div class="nav-responsive">
          <div class="heading-part">
            <h2 class="main_title">Images</h2>
          </div>
         <div>
          <img src={{product.images.[0]}}  onclick=cImage(this) alt="" style="height: 12rem;" >
         </div><br>
         <div>
          <img src={{product.images.[1]}} onclick=cImage(this)  alt="" style="height: 12rem;" >
         </div><br>
         <div>
          <img src={{product.images.[2]}}  onclick=cImage(this) alt="" style="height: 12rem;" >
         </div><br>
        </div>
      </div>
      <div class="filter left-sidebar-widget mb_50">
        <div class="filter-block">

          <div id="slider-range" class="mtb_20"></div>

        </div>
      </div>
      <div class="left-special left-sidebar-widget mb_50">

        <div id="left-special" class="owl-carousel">


        </div>
      </div>
    </div>


       


        <div class="col-sm-8 col-lg-9 mtb_20">

                 <div class="row mt_10 ">                   
     <div class="col-md-6">

       

              <div class="xzoom-container">
                   <img class="img-fluid" id="zoom"  style="height: 36rem;" src={{product.images.[0]}}>         
               
              </div>
       
            </div>




            
            <div class="col-md-6 prodetail caption product-thumb">
              <h4><a href="">{{product.name}}</a></h4>
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
              </div>
              <span class="price mb_20"><span class="amount"><span class="currencySymbol">₹</span>{{product.price}}</span>
              </span>
              <hr>
              <ul class="list-unstyled product_info mtb_20">
                <li>
                  <label>Brand:</label>
                  <span> {{product.brand}}</span></li>
                  <label>Availability:</label>
                  <span> In Stock</span></li>
              </ul>
              <hr>
              <p class="product-desc mtb_30"> Let this classy analog watch from Seiko be a testimony to your love. Its stainless steel bracelet comes in chic hue that elevates the look of the watch. The sleek round dial is nestled in a fine case. It showcases plain three hands along with day and date display.</p>
              <div id="product">
              
              </div>
            </div>
          



          <div class="row">
          </div>
            <a class="btn pull-left mt_30" href="/allProducts" >Continue Shopping</a>
            	<a class=" btn pull-right mt_30 addToCart" data-product={{product._id}} >Add to cart</a>
        </div>
      </div>
    </div>
</div>


<script>








  
	setTimeout(() => {
		$('#zoom').imagezoomsl();
	}, 100)
	function changeImage(element) {
		var main_product_image = document.getElementById('zoom');
		main_product_image.src = element;
		$('#zoom').imagezoomsl();
	}



  
     const addToCart =async (productId)=>{
     

      const res= await axios.post(`/addtocart/${productId}`)  
      console.log(res.data.message)
    
         if(res.data.message==="failed"){
                  Toastify({
                text: " Please LogIn",
                duration: 3000,
                gravity: "bottom",
                position: "center",
                style: {
                    background: '#F0FFFF',
                    color:"#000000 "
                },
            }).showToast(); 

            setTimeout((req,res)=>{
              location.assign('/login')
            },2000)
     }else if(res.data.message==="success"){
       Toastify({
                text: "Item Added To Cart",
                duration: 3000,
                gravity: "bottom",
                position: "center",
                style: {
                    background: '#FFFFFF',
                    color:"#000000"
                },
            }).showToast(); 
      
     }else{
       location.assign('/cart')
     }
     
     }
     




	document.querySelectorAll('.addToCart').forEach(item => {
		item.addEventListener('click', function (e) {
			e.preventDefault();
			addToCart(this.dataset.product);
		});
	})





  let cImage = (image)=>{
   let mainImage = document.getElementById("zoom")
    mainImage.src = image.src
  }
      


  
</script>